{% extends 'base.html' %}

{% block content %}

<style>
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.button-container-two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-right: 20px;
}

.text-price {
    color: #6095F0;
    font-weight: bolder;
    font-size: larger;
}

h2 {
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

h3 {
    color: black;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

h4 {
    color: grey;
    font-weight: bolder;
    font-size: medium;
    font-family: Arial, sans-serif;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#scoobyria_card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}
</style>

<head>
    <!-- Metadata for character encoding and viewport -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External stylesheet link for Scoobyria buttons -->
    <title>SCOOBYRIA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bg-image h-100" style="background-color: #6095F0;">

    <!-- Main content area -->
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">

                    <!-- Page title with a combination of text and emojis -->
                    <h1 style="color: saddlebrown; font-family: Arial, sans-serif; font-weight: bolder; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;text-shadow: 2px 2px 4px #000;">🥤🐶SCOOBYRIA🐶🍔</h1>

                    <!-- Welcome message for customer -->
                    <h2>Hello, {{ customer }}!</h2>

                    <!-- Description of SCOOBYRIA's services -->
                    <h3>SCOOBYRIA provides food and drinks for the PBP E adventurers. The food and drinks provided can be either delicious or unpleasant, depending on their description. If you choose to consume toxic food or beverages, the choice is at your own risk.</h3>

                    <!-- Card to display the number of products in the selection -->
                    <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 id = "update-size">You have {{ total_product }} items in your selection</h4>
                                    <h4>Last login: {{ last_login }}</h4>
                                </div>

                                <!-- This is where I changed the cards data item code to support AJAX GET -->
                                <div id = "scoobyria_card"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Buttons for adding new order, logging out, and add new order via AJAX -->
    <div class="button-container-two">
        <button type="button" class="btn btn-success btn-sm px-50 shadow" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Order by AJAX</button>
        
        <a href="{% url 'main:logout' %}" class="btn btn-danger btn-sm px-50 shadow">
            <i class="fa fa-home" aria-hidden="true"></i> Logout
        </a>

        
    </div>

    <!-- Modal for adding a new product via AJAX -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer section displaying my name and class -->
    <footer>
        <div class="bg-light">
            <div class="container text-center">
                <p class="text-muted mb-0 py-2">Name: {{ name }}</p>
                <p class="text-muted mb-0 py-2">Class: {{ class }}</p>
            </div>
        </div>
    </footer>

</body>


<script>
    // Function to fetch and return products as JSON
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    // Function to delete an order and refresh the order list
    async function deleteProducts(id) {
        const response = await fetch(`/remove-product/${id}`);
        refreshProducts();
        updateSize()
    }

    // Function to refresh the order list
    async function refreshProducts() {
        document.getElementById("scoobyria_card").innerHTML = ""
        const products = await getProducts()
        let htmlString = `
        <div class="card-container d-flex flex-wrap justify-content-between">
       `
        products.forEach((item) => {
            htmlString += `\n
            <div class="card shadow" style="width: 18rem; margin-bottom: 20px;">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">${ item.fields.name }</h5>
                        <button onclick="deleteProducts(${item.pk})" class="btn btn-danger btn-sm px-2 shadow" type="submit" name="Hapus" style="border-radius: 50%;"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <p class="card-text">${item.fields.description}</p>
                    <h6 class="card-subtitle mb-2 text-price">$${item.fields.price}</h6>
                    <div class="button-container">
                        <a href = "/decrement-product/${item.pk}">
                            <button class="btn btn-warning btn-sm px-3 shadow" type="submit" name="Kurang" style="display: inline-block;"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </a>
                        <p class="amount" style="display: inline-block; margin: 0 5px; font-weight: bolder;">${item.fields.amount}</p>
                        <a href = "/add-product/${item.pk}">
                            <button class="btn btn-success btn-sm px-3 shadow" type="submit" name="Tambah" style="display: inline-block;"><i class="fa fa-plus" aria-hidden="true" ></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>`
        })
        
        
        document.getElementById("scoobyria_card").innerHTML = htmlString
    }

    // Initial refresh of products when the page loads
    refreshProducts()

    // Function to update size or items
    function updateSize() {
        getProducts().then((products) => {
            const sizeItems = document.getElementById("update-size");
            sizeItems.innerHTML = `You have ${products.length} items in your selection`;
        });
    }

    // Function to add an order via AJAX
    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
            
        }).then(() => {
            refreshProducts()
            updateSize();})
        
        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct
</script>

{% endblock content %}
