{% extends 'base.html' %}

{% block content %}
    <h1 style="color: saddlebrown; font-family: Arial, sans-serif; font-weight: bolder; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;text-shadow: 2px 2px 4px #000;">SCOOBYRIA</h1>

    <style>
        body {
            background-color: bisque;
        }
    </style>

    <h5>Name: {{name}}</h5>
    <h5>Class: {{class}}</h5>


<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button style="color: green; font-weight: bolder; align-items: center" >
        Add New Product
    </button>
</a>
    
{% endblock content %}

