@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



@font-face {
    font-family: 'Anton';
    src: url('path-to-anton-font.woff2') format('woff2'),
         url('path-to-anton-font.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    font-size: 50px;
    color: saddlebrown;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    text-shadow: 2px 2px 4px #000;
    font-size: 30px;
    color: burlywood;
}

p {
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color:darkslategray;
}